
/* Font Link */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); /* font close */

header{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),  url(images/nairobi.jpg);
    min-height: 70%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;
    overflow: hidden;
}
.main-nav{                                     
    list-style: none;
    float: left;
    margin-top: 15px;
    font-size: 2.8ex;
 }
.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    font-size: 90%; 
} 
.main-nav li a:hover{
    border-bottom: 2px solid gold;
    transition: all 0.2s ease-in;
    padding: 8px 0;

} 
div.user-icon img{
    height:35px;
    float: right;
    margin-top: -33px;
    margin-right: -40px;  
}

div.button6{
    float: right;
    margin-right: 60px;
    margin-top: -15px;
}
.button6 button.btn{
    border-radius: 4ex;
    cursor: pointer;
}
div.box1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input1{
    padding: 10px;
    min-width: 20vw;
    background-image: url(images/location-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-left: 50px;
    outline-style: none;
}
#input2{
    padding: 10px;
    min-width: 20vw;
    background-image: url(images/aim-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-left: 50px;
    outline-style: none;
}
#button1{
    background-color: #05143a;
    color: white;
    padding: 12px;
    width: 100px;
    border: none;
    cursor: pointer;
    outline-color: goldenrod;
}
#para1{
    font-size: 1.5em;
}
.text-container{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: 70px;
    overflow: hidden;
}
.container2{
   
    width: 100%;
    margin-top: 40px;
    text-align: justify;
    clear: both;
}
.container2 .row img{
    height: 100px;
    padding: 20px;
    padding-left: 20px;
}

#para2{
    font-size: 1.4em;
}
.text-container1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    overflow: hidden;
}
.container1{
    height: auto;
}
.container1 .row{
   margin-left: 2px;
    margin-top: 50px;
}
.container1 .row img{
   height: 180px;
   margin-left: 5px;
    
}
.text-center{
    margin-top: 15px;
    clear: both;
}
button.search{
    color: white;
    background: rgba(77, 122, 15, 0.69);
    border: #10850b;
    height: 40px;
    width: 120px; 
    font-weight: 400;
    font-size: 1.0em;
    cursor: pointer;
    margin-top: 10px;
    transform: scale(1.15);
    transition: all transform ease-in 0.2s;
    overflow: hidden;
    outline: none;
}
button.search:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #010150;
    outline: none;
}

#link1{
    text-align: center;
    color: #10850b;
}

section.section1 .container2{
    overflow: hidden;
    background-image: url(images/1.jpg);
    min-height: 60%;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container3{
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;
    min-width: 100%;
    padding: 8px;
    color: white;
    padding-left: 50px;
    min-height: auto;
    background-color: #c79219;
    overflow: hidden;
}

.container3 button.button4{
    color: white;
    background: #000069;
    min-height: 40px;
    min-width: 120px;
    font-weight: 400;
    font-size: 1.0em;
    cursor: pointer;
    border: darkblue;
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50% -80%);
    margin-top: -8%;
}
button.button4:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: #010150;
    outline: none;
}
.container-fluid{                                                /* start Map-image css */
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;             
    overflow: hidden;
}
.row .col-xl-12{
    min-width:100%;
    min-height: 50%;
    background-color: #c9e5f3;
}
.row .col-xl-12 img{
    min-width: 50%;
    height:50%;
    margin-left: 80px;
}

.row .col-xl-12 .suggest-city{
    padding: 8px;
    min-width: 10vw;
    background-image: url(images/location-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-left: 50px;
    outline-style: none;
    margin-left: 60%;
}
.row .col-xl-12 #request{
    background-color: #10850b;landing-bg-1.jpg
    color: white;
    padding: 10px;
    min-width: 120px;
    border: none;
    cursor: pointer;
    outline-color: goldenrod;
}
span p{
    color: black;
    margin-left: 60%;
    margin-top: -25%;
}  /* Close map-image */

.container5{                                     /* CSS Helping Button List Container 4 */
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;              
    color: black;
    width: 100%;
    min-height: 35%;
    margin-top: 30px;
    overflow: hidden;
}
.container5 p{
font-size: 20px;
}
.container5 .btn-default{
    color: black;
    outline: none;
    max-width: 40%;
    padding: 5px;
    background-color: white;
    border-radius: 1.2ex;
    border: 2px solid #453B3B;
}  /* Close container 4 */

div.imaged{                                     /* imaged div CSS */
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;                  
    min-width: 100%;
    min-height: 20%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/nairobi.jpg);
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 5px;
}
div.imaged p{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}
div.imaged button,#button7{
    background-color: #10850b;
    color: white;
    padding: 12px;
    min-width: 140px;
    border: none;
    cursor: pointer;
    margin-top: -40px;
}
button,#button7:hover{
    background-color: #10850b;
    outline-color: black;
}         /* close imaged div */

footer{       /* Footer */ 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    min-width: 100%;
    min-height: 25%;
    overflow: hidden;
}
footer ul{
    align-items: left;
    margin-top: 2%;
    margin-left: 35%;
    text-decoration: none;
    list-style: none;
}
footer ul li{
    padding: 5px;
}
footer ul li a{
    color: #555050;
}
footer ul li a:hover{
    color: #292626;
}
footer h4{
    margin-left: 5px;
}
footer .link-image{
    min-width: 10%;
    margin-left: 50%;
    margin-top: -15%;
}
footer img{
    width: 20px;
    margin-left: 2px;
}
footer p{
    text-align: left;
    margin-left: 44%;
    margin-top: 30px;
}  /* End Footer */


